# Auth Service Configuration (PostgreSQL)
DB_USER=postgres
DB_PASS=ur_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=librariumdb

# JWT — 34 символа (специально сделал длиннее, чтобы не было проблем)
JWT_SECRET=LQ9M+Cv9n8bYL+aB9DyT22VL9yPMVfXbgh/DuVjcJ3o=67

# Yandex OAuth 
YANDEX_CLIENT_ID=your_yandex_client_id_here
YANDEX_CLIENT_SECRET=your_yandex_client_secret_here
YANDEX_REDIRECT_URL=http://localhost:8080/auth/yandex/callback

# Server
SERVER_HOST=127.0.0.1
SERVER_PORT=3000

# Frontend
FRONTEND_URL=http://localhost:5173

# Cookie
COOKIE_SECURE=false
COOKIE_SAMESITE=Lax